@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
}

body {
    background-color: white;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #525987;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #525987;
    border-top: 1px solid #525987;
}

.wrapper .sidebar ul li a {
    color: rgb(255, 255, 255);
    display: block;
}

.wrapper .sidebar ul li .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #72716e;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #525987;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

